body{
    font-family: 'Seogoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    background-color: linear-gradient(120deg, #ffecd2, #fcb69f);
    padding-top: 50px;
    min-height: 100vh;
}

h1{
    color: #333;
    font-size: 2.5em;
    margin-bottom: 10px;
}

p{
    font-size: 18px;
    color: #555;
}
.opciones{
    margin: 20px 0;
}

button{
    padding: 15px 30px;
    margin: 10px;
    font-size: 18px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    background-color: #ff6f61;
    color: white;
    transition: all 0.3s ease;
    box-shadow: 0 4px #d95c53;

}

button:hover {
    background-color: #ff856f;
    transform: translateY(-3px);
    box-shadow: 0 6px #d95c53;
}

button:active{
    transform: translateY(2px);
    box-shadow: 0 2px #d95c53;
}

#resultado{
    font-size: 20px;
    font-weight: bold;
    margin-top: 30px;
    color: #333;
    opacity: 0;
    transition: opacity 0.5 ease, transform 0.5s ease;
    transform: translateY(-10px);
}

#resultado.mostrar{
    opacity: 1;
    transform: translateY(0);
}

#resultado.ganaste {
    color: #28a745;
}

#resultado.perdiste {
color: #dc3545;
}

#resultado.empate{
    color: #ffc107;
}

@keyframes salto {
    0% { transform: translateY(0);}
    30% { transform: translateY(-15px);}
    50% { transform: translateY(0);}
    70% { transform: translateY(-8px);}
    100% {transform: translateY(0);}
    
}

@media (max-width: 600px){
    body{
        padding-top: 30px;
    }

    h1{ 
        font-size: 2em;
    }

    p{
        font-size: 16px;
    }

    .opciones button{
        padding: 12px 20px;
        font-size: 16px;
        margin: 8px;

    }
#resultado{
    font-size: 18px;
}

.opciones{
    display: flex;
    flex-direction: column;
    align-items: center;
}
}